/**
 * ARTIK Cloud API
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 2.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package cloud.artik.api

import cloud.artik.model.DeviceRegConfirmUserRequest
import cloud.artik.model.DeviceRegConfirmUserResponseEnvelope
import cloud.artik.model.DeviceRegStatusResponseEnvelope
import cloud.artik.model.UnregisterDeviceResponseEnvelope
import io.swagger.client.ApiInvoker
import io.swagger.client.ApiException

import com.sun.jersey.multipart.FormDataMultiPart
import com.sun.jersey.multipart.file.FileDataBodyPart

import javax.ws.rs.core.MediaType

import java.io.File
import java.util.Date

import scala.collection.mutable.HashMap

class RegistrationsApi(val defBasePath: String = "https://api.artik.cloud/v1.1",
                        defApiInvoker: ApiInvoker = ApiInvoker) {
  var basePath = defBasePath
  var apiInvoker = defApiInvoker

  def addHeader(key: String, value: String) = apiInvoker.defaultHeaders += key -> value 

  /**
   * Confirm User
   * This call updates the registration request issued earlier by associating it with an authenticated user and captures all additional information required to add a new device.
   * @param registrationInfo Device Registration information. 
   * @return DeviceRegConfirmUserResponseEnvelope
   */
  def confirmUser (registrationInfo: DeviceRegConfirmUserRequest) : Option[DeviceRegConfirmUserResponseEnvelope] = {
    // create path and map variables
    val path = "/devices/registrations/pin".replaceAll("\\{format\\}","json")
    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    // query params
    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    if (registrationInfo == null) throw new Exception("Missing required parameter 'registrationInfo' when calling RegistrationsApi->confirmUser")

        
    
    var postBody: AnyRef = registrationInfo

    if(contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart()
      
      postBody = mp
    }
    else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "PUT", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[DeviceRegConfirmUserResponseEnvelope]).asInstanceOf[DeviceRegConfirmUserResponseEnvelope])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Get Request Status For User
   * This call checks the status of the request so users can poll and know when registration is complete.
   * @param requestId Request ID. 
   * @return DeviceRegStatusResponseEnvelope
   */
  def getRequestStatusForUser (requestId: String) : Option[DeviceRegStatusResponseEnvelope] = {
    // create path and map variables
    val path = "/devices/registrations/{requestId}/status".replaceAll("\\{format\\}","json").replaceAll("\\{" + "requestId" + "\\}",apiInvoker.escape(requestId))


    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    // query params
    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

        
    
    var postBody: AnyRef = null

    if(contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart()
      
      postBody = mp
    }
    else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[DeviceRegStatusResponseEnvelope]).asInstanceOf[DeviceRegStatusResponseEnvelope])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

  /**
   * Unregister Device
   * This call clears any associations from the secure device registration.
   * @param deviceId Device ID. 
   * @return UnregisterDeviceResponseEnvelope
   */
  def unregisterDevice (deviceId: String) : Option[UnregisterDeviceResponseEnvelope] = {
    // create path and map variables
    val path = "/devices/{deviceId}/registrations".replaceAll("\\{format\\}","json").replaceAll("\\{" + "deviceId" + "\\}",apiInvoker.escape(deviceId))


    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    // query params
    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

        
    
    var postBody: AnyRef = null

    if(contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart()
      
      postBody = mp
    }
    else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "DELETE", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(ApiInvoker.deserialize(s, "", classOf[UnregisterDeviceResponseEnvelope]).asInstanceOf[UnregisterDeviceResponseEnvelope])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

}
